In [1]:
import pandas as pd

df =  pd.read_csv('match_price_loc.csv')

In [3]:
df.columns

Index(['Unnamed: 0', 'adm0_id', 'adm0_name', 'adm1_id', 'adm1_name', 'mkt_id',
       'market', 'cm_id', 'cm_name', 'cur_id', 'cur_name', 'pt_id', 'pt_name',
       'um_id', 'um_name', 'mp_month', 'mp_year', 'mp_price',
       'mp_commoditysource', 'market_id', 'countryiso3', 'admin1', 'admin2',
       'latitude', 'longitude'],
      dtype='object')

In [2]:
df.adm0_name.unique()

array(['Algeria', 'Angola', 'Chad', 'Libya', 'Mozambique', 'South Sudan',
       'Benin', 'Burkina Faso', 'Burundi', 'Rwanda', 'Cameroon',
       'Central African Republic', 'Congo', 'Nigeria', 'Djibouti',
       'Eritrea', 'Ethiopia', 'Gambia', 'Ghana', 'Guinea',
       'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Mali',
       'Mauritania', 'Senegal', 'Namibia', 'Niger', 'Sierra Leone',
       'Somalia', 'South Africa', 'Sudan', 'Togo', 'Uganda', 'Zambia'],
      dtype=object)

In [106]:
df_al = df[df['adm0_name']=='Zambia']

dfal_agg = df_al.groupby(['mp_year', 'mp_month','adm0_name','adm1_name','admin2', 'market', 'cm_name']).agg({'mp_price':['sum']})
dfal_agg.to_csv(r'C:\Users\ASUS\Desktop\WHK\inflation\ad14_1t.csv')
df_ag = pd.read_csv('ad14_1t.csv')
df_ag.rename(columns = {'Unnamed: 0':'year', 'Unnamed: 1' :'month', 'Unnamed: 2': 'adm0_name', 'Unnamed: 3': 'adm1_name','Unnamed: 4': 'adm2_name', 'Unnamed: 5': 'market', 'Unnamed: 6': 'cm_name' }, inplace= True)
df_ag.drop([0,1], axis=0, inplace=True)

df_ag

,year,month,adm0_name,adm1_name,adm2_name,market,cm_name,mp_price
2,2003,1,Zambia,Central,Chitambo,Serenje,Maize (white) - Retail,1.1454
3,2003,1,Zambia,Central,Kabwe,Kabwe Rural,Maize (white) - Retail,1.0
4,2003,1,Zambia,Central,Kabwe,Kabwe Urban,Maize (white) - Retail,1.1144
5,2003,1,Zambia,Central,Luano,Mkushi,Maize (white) - Retail,1.071
6,2003,1,Zambia,Central,Mumbwa,Mumbwa,Maize (white) - Retail,1.1454
...,...,...,...,...,...,...,...,...
42790,2021,5,Zambia,Western,Sesheke,Sesheke,Rice (local) - Retail,35.68
42791,2021,5,Zambia,Western,Shangombo,Shang'ombo,Beans (dry) - Retail,35.71
42792,2021,5,Zambia,Western,Shangombo,Shang'ombo,Groundnuts (shelled) - Retail,36.36
42793,2021,5,Zambia,Western,Shangombo,Shang'ombo,Maize (white) - Retail,5.19
42794,2021,5,Zambia,Western,Shangombo,Shang'ombo,Rice (local) - Retail,35.65

In [107]:
df_ag.adm2_name.unique()

array(['Chitambo', 'Kabwe', 'Luano', 'Mumbwa', 'Chingola', 'Kalulushi',
       'Kitwe', 'Luanshya', 'Mufulira', 'Ndola', 'Chipata', 'Lundazi',
       'Petauke', 'Kawambwa', 'Mansa', 'Mwense', 'Nchelenge', 'Samfya',
       'Luangwa', 'Lusaka', 'Kasempa', 'Mwinilunga', 'Solwezi', 'Isoka',
       'Kasama', 'Luwingu', 'Mbala', 'Choma', 'Kalomo', 'Livingstone',
       'Mazabuka', 'Monze', 'Kaoma', 'Mongu', 'Nalolo', 'Vubwi', 'Katete',
       'Mpika', 'Chinsali', 'Chibombo', 'Kapiri Mposhi', 'Chililabombwe',
       'Masaiti', 'Mpongwe', 'Chama', 'Nyimba', 'Chiengi', 'Chongwe',
       'Kafue', 'Chavuma', 'Kabompo', 'Mufumbwe', 'Zambezi', 'Chilubi',
       'Kaputa', 'Mporokoso', 'Mpulungu', 'Mungwi', 'Nakonde', 'Gwembe',
       'Itezhi-tezhi', 'Kazungula', 'Namwala', 'Siavonga', 'Kalabo',
       'Lukulu', 'Sesheke', 'Shangombo'], dtype=object)

In [30]:
path =r"C:\Users\ASUS\Desktop\WHK\inflation\ "

     
for i in df_ag.adm1_name.unique():
    
    df_ag2 = df_ag[df_ag['adm1_name']==i]
    dfal_agg2 = df_ag2.groupby(['year', 'month','adm1_name', 'market', 'cm_name']).agg({'mp_price':['sum']})

    file_name = path + i +'.csv'
    dfal_agg2.to_csv(file_name, header=True)

In [108]:
path =r"C:\Users\ASUS\Desktop\WHK\inflation\ "

for i in df_ag.adm2_name.unique():
    
    file_name = path + i +'.csv'
    pat = path + i +'.csv'
    file = path + i +'marketss'+'.csv'
    file_name = path + i +'_pivot_'+'.csv'
    way = path + i +'Algeria_adm1'+'.csv'
    line = path + i +'_inf_'+ 'Zambia' +'_adm2'+'.csv'
    
    
    df_ag2 = df_ag[df_ag['adm2_name']==i]
    dfal_agg2 = df_ag2.groupby(['year', 'month','adm0_name','adm1_name','adm2_name', 'market', 'cm_name']).agg({'mp_price':['sum']})

    
    dfal_agg2.to_csv(file_name, header=True)
    
    
    
    sd = pd.read_csv(file_name)

    sd.rename(columns = {'Unnamed: 0':'year', 'Unnamed: 1' :'month', 'Unnamed: 2': 'adm0_name', 'Unnamed: 3': 'adm1_name','Unnamed: 4': 'adm2_name', 'Unnamed: 5': 'market', 'Unnamed: 6': 'cm_name' }, inplace= True)
    sd.drop([0,1], axis=0, inplace=True)

    sd.month.astype(float)
    sd.mp_price.astype(float)
    sd['mp_price'] = sd['mp_price'].astype(float)

    df_table = sd.pivot_table(values='mp_price', index= ['year', 'month','adm1_name','adm2_name','cm_name'], columns='market', aggfunc='sum')
    df_table.to_csv(file_name, header=True)
    
    peaci2 = pd.read_csv(file_name)
    df_ag2 = df_ag[df_ag['adm2_name']==i]
    s = df_ag2.market.unique()
    pe = peaci2.groupby(['year', 'month','adm1_name','adm2_name', 'cm_name'])[s].sum()

    pe.to_csv(file)

    alg = pd.read_csv(file)
    alg.rename(columns = {'Unnamed: 0':'year', 'Unnamed: 1' :'month', 'Unnamed: 2': 'cm_name' }, inplace= True)
    alg.drop([0,1], axis=0, inplace=True)
    f = pd.value_counts(alg['cm_name'])
    p = f.mode()
    g=int(p)
    alg = alg.drop(index=alg[alg['cm_name'].map(alg['cm_name'].value_counts())!= g].index)
    alg = alg.reset_index()
    u = len(alg['cm_name'].unique())
    y = len(alg)

    for i in s:
        k = alg[i]
        k=k.astype(float)
        alg['inf'+'_'+i] = mo(k)
        alg.to_csv(line)
        
    
    #alg = alg.reset_index()
    #alg.to_csv(way)

TypeError: cannot convert the series to <class 'int'>

In [9]:
def mo(t):
    
    p = []
    for i in range(0,y-u):
        result = (t[i+u]-t[i])/t[i]
        p.append(result)
        if i==(y-u-1):
        
         for j in range(y-u,y):
            t[j] = -1
            p.append(t[j])
            
    return(p)

In [160]:
sd

,year,month,adm0_name,adm1_name,market,cm_name,mp_price
2,2008,1,Angola,Luanda,Luanda,Bread - Retail,35.2
3,2008,1,Angola,Luanda,Luanda,Cassava flour - Retail,139.03
4,2008,1,Angola,Luanda,Luanda,Maize flour - Retail,135.8
5,2008,1,Angola,Luanda,Luanda,Milk (powder) - Retail,1843.2
6,2008,1,Angola,Luanda,Luanda,Oil (palm) - Retail,382.84
...,...,...,...,...,...,...,...
1245,2020,9,Angola,Luanda,Luanda,Milk (powder) - Retail,12505.8496
1246,2020,9,Angola,Luanda,Luanda,Oil (palm) - Retail,2567.6799
1247,2020,9,Angola,Luanda,Luanda,Oil (soybean) - Retail,1774.8199
1248,2020,9,Angola,Luanda,Luanda,"Rice (regular, milled) - Retail",1029.64
1249,2020,9,Angola,Luanda,Luanda,Sugar (white) - Retail,1261.4899

In [163]:
sd['mp_price'] = sd['mp_price'].astype(float)